body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.feed {
  margin-top: 20px;
}
.tweet {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.tweet h1 {
  margin-top: 0;
}
.tweet p {
  margin-bottom: 0;
}
.delete-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
textarea{
  width: 100%;
}
button{
  background-color: rgb(77, 167, 246);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;

}

